p {
    color: white;
}
.red {
    text-emphasis-color: white;
    display: block;
    background-color: red;
    height: 500px;
    width: 500px;
    float: right;
    clear: both;
}
.green {
    text-emphasis-color: white;
    display: block;
    background-color: green;
    height: 500px;
    width: 500px;
    float: right;
    clear: both;
}
.blue {
    text-emphasis-color: white;
    display: block;
    background-color: rgb(7, 93, 197);
    height: 500px;
    width: 500px;
    float: right;
    clear: both;
}
